<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='{% static "bootstrap/bootstrap.min.css" %}'/>
  <title>Создать письмо</title>
</head>
<body style="background: rgb(184, 198, 212);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center" style="background-color: rgb(162, 202, 209);">
        <h2 class="font-italic text-primary">Форма отправки писем</h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
      </div>
      <div class="col-2">
        <form class="form-group" method="post">  
          {% csrf_token %}
          <div class="row"> 
            {{ form.as_p }}
          </div>
          <br> 
          <input type="submit" class="btn btn-primary" value="Отправить">
        </form>
      </div>
    </div>
  </div>
</body>
</html>